<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="CheckPoint2"
     providerName="System.Data.ProviderName"
     connectionString="Data Source=DESKTOP-AUGLKCC\SQLEXPRESS;Initial Catalog=CheckPoint2;Integrated Security=True" />
  </connectionStrings>
</configuration>